@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');

body {
	@apply text-base text-black;
	font-family: 'Golos Text', sans-serif;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.btn {
	@apply rounded-xl font-medium shadow py-2 px-10 hover:shadow-lg transition duration-300 ease-in-out;
	
	&:not(&:disabled) {
		@apply hover:shadow-lg;
	}
	&.btn-white {
		@apply bg-white text-primary;
	}
	&.btn-orange {
		@apply bg-primary text-white;
	}
	&.btn-large {
		@apply px-12 py-4 text-xl;
	}
	
}
